<div>
    <div class="flex items-center mb-4 space-x-4">
        <h3 class="text-m font-medium text-gray-600 mb-0">Files</h3>

        <!-- Delete Selected files -->
        <div>
            <form id="delete-files" method="POST" action="/api/files/delete">
                <input type="hidden" name="fileIds" id="fileIds">
                <input type="hidden" name="folderId" value="<%= folderId %>">
                <button type="submit" id="delete-files-button" class="text-white text-sm px-2 py-1 mb-0 rounded hidden cursor-pointer hover:bg-[#dc2626] bg-[#ef4444]">
                    🗑️ Move to bin
                </button>
            </form>
        </div>
    </div> 
        
    <!-- Files list -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <% files.forEach(file => { %>
            <% if (file.folderName === folderName) { %>
                <div class="file-card bg-white p-4 rounded-lg shadow hover:shadow-md transition cursor-pointer "
                    data-file-id="<%= file.id %>">
                    <div class="flex items-center space-x-2">
                    <svg class="w-6 h-6 text-blue-500" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V7l-5-4H4z" />
                    </svg>
                    <span class="text-gray-800 font-medium"><%= file.name %></span>
                    </div>
                    <p class="text-xs text-gray-500 mt-1">Modified: <%= file.updatedAt.toDateString() %></p>
                </div>
                
            <% } %>
        <% }) %>
    </div>
</div>

<script>
  const selectedFiles = new Set();
  const deleteFileBtn = document.getElementById('delete-files-button');
  const fileIdsInput = document.getElementById('fileIds');

  document.querySelectorAll('.file-card').forEach(card => {
    let clickTimeout;
    card.addEventListener('click', () => {
      if (clickTimeout) {
        clearTimeout(clickTimeout);
        clickTimeout = null;
        const fileId = card.dataset.fileId;
        window.open(`/api/files/${fileId}`, '_blank');
      } else {
        clickTimeout = setTimeout(() => {
          clickTimeout = null;
          const fileId = card.dataset.fileId;
          card.classList.toggle('ring-2');
          card.classList.toggle('ring-blue-500');
          card.classList.toggle('SELECTED');

          if (card.classList.contains('SELECTED')) {
            selectedFiles.add(fileId);
          } else {
            selectedFiles.delete(fileId);
          }

          // Update hidden input and button visibility
          fileIdsInput.value = Array.from(selectedFiles).join(',');
          deleteFileBtn.classList.toggle('hidden', selectedFiles.size === 0);
        }, 250);
      }
    });
  });
</script>
