<div class="mb-6">
      <h3 class="text-sm font-medium text-gray-600 mb-2">Folders</h3>
      
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <% folders.forEach(folder => { %>
          <%if (folder.name !== 'Root') { %>
            <a href="/api/users/drive/<%= folder.id %>">
            <div class="bg-white p-4 rounded-lg shadow hover:shadow-md transition">
              <div class="flex items-center space-x-2">
                <svg class="w-6 h-6 text-yellow-500" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M2 6a2 2 0 012-2h4l2 2h6a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
                </svg>
                <span class="text-gray-800 font-medium"><%= folder.name %></span>
              </div>
            </div>
            </a>
          <% } %>
        <% }) %>
      </div>
    </div>